:root {
    --breakpoint-sm: 320px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1600px;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid #e0e0e0 2px;
    z-index: 1000;
  }
  
  iframe {
    width: 75vw;
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  .iframe-container {
    display: grid;
    place-items: center;
    height: 100%;
    padding: 20px;
  }

@media (max-width: 1600px) {

}